@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
    <h1>Hello from an MVC controller</h1>
<div>

    <a href="/home/books">MVC Books</a>
    <br />
    <a href="/jBooks.html">REST Books</a>
</div>
</body>
</html>